.card-list {
    width: 89%;
    margin: 0 auto ;
    padding: 79px 0 0;
    border-top: 1px solid #E8E8E8;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-auto-rows: repeat(auto-fit);
    gap: 60px 30px;
}

@media screen and (max-width: 1000px) {
    .card-list {
        width: 92.1%;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        justify-items: center;
        gap: 46px 28px;
        padding: 79px 0 0;
    }
}

@media screen and (max-width: 600px) {
    .card-list {
        width: 93.75%;
        grid-template-columns: repeat(1, minmax(250px, 1fr));
        row-gap: 39px;
        padding: 50px 0 0;
    }
}