.search-form {
    width: 100%;
}

.search-form__fieldset {
    width: 87%;
    margin: 70px auto 72px;
    border-radius: 9px;
    background-color: #FDFDFD;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    padding: 18px 0 18px 22px;
    display: flex;
    align-items: center;
    border: none;
}

.search-form__img {
    width: 34px;
    height: 34px;
}

.search-form__label {
    width: 125.2%;
    display: flex;
    justify-content: space-between;
    padding-right: 19px;
    border-right: 1px solid #CBCBCB;
}

.search-form__input {
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    padding: 8px 0 0 5px;
}

.search-form__input::placeholder {
    font-size: 18px;
    line-height: 1.1;
}

.search-form__input:focus {
    outline: none;
}

.search-form__button {
    width: 59px;
    height: 34px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 8px 10px;
    font-size: 11px;
    border: none;
    border-radius: 48px;
    cursor: pointer;
}

.search-form__button:hover {
    opacity: .8;
}

@media screen and (max-width: 800px) {
    .search-form__fieldset {
        width: 90%;
        margin: 80px auto 112px;
    }

    .search-form__input {
        padding-left: 9px;
    }
}

@media screen and (max-width: 700px) {
    .search-form__fieldset {
        box-sizing: border-box;
        width: 93.75%;
        flex-direction: column;
        box-shadow: none;
        margin: 61px auto 29px;
        padding: 18px 0;
        align-items: center;
        justify-content: center;
    }

    .search-form__label {
        border: none;
    }

    .search-form__img {
        display: none;
    }

    .search-form__label {
        width: 86.2%;
        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
        border-radius: 9px;
        padding: 19px;
    }

    .search-form__input {
        padding: 8px 0 0;
    }

    .search-form__input::placeholder {
        font-size: 14px;
        line-height: 1.4;
    }
}