.register__label {
    width: 100%;
    font-size: 10px;
    color: #A0A0A0;
    padding-top: 5px;
}

.register {
    width: 100%;
    border: none;
    margin: 0 0 163px;
    padding: 0;
}

.register_margin {
    margin: 0 0 76px;
}

.register__input {
    box-sizing: border-box;
    width: 100%;
    min-height: 46px;
    border-radius: 8px;
    background-color: #F9F9F9;
    border: none;
    margin-top: 8px;
    padding: 0 0 0 15px;
    font-size: 13px;
    font-weight: 500;
}

.register__input:focus {
    outline: 1px solid #000;
}

.register__input_error {
    color: #FF4062;
}

.register__error {
    width: 100%;
    min-height: 14px;
    font-size: 10px;
    color: #FF4062;
    display: block;
}

@media screen and (max-width: 550px) {

    .register {
        margin: 0 0 251px;
    }

    .register_margin {
        margin-bottom: 166px;
    }
}