.register {
    width: 100%;
}

.register__label {
    width: 100%;
    font-size: 10px;
    color: #A0A0A0;
    padding-top: 5px;
}

.register__fieldset {
    width: 100%;
    border: none;
    margin: 0 0 128px;
    padding: 0;
}

.register__fieldset_margin {
    margin: 0 0 41px;
}

.register__input {
    box-sizing: border-box;
    width: 100%;
    min-height: 46px;
    border-radius: 8px;
    background-color: #F9F9F9;
    border: none;
    margin-top: 8px;
    padding: 0 0 0 15px;
    font-size: 13px;
    font-weight: 500;
}

.register__input:focus {
    outline: 1px solid #000;
}

.register__input_error:focus {
    outline: 1px solid #FF4062;
}

.register__input_error {
    color: #FF4062;
}

.register__error {
    width: 100%;
    min-height: 14px;
    font-size: 10px;
    color: #FF4062;
    display: block;
}

@media screen and (max-width: 550px) {

    .register__fieldset {
        margin: 0 0 218px;
    }

    .register__fieldset_margin {
        margin-bottom: 131px;
    }
}